<h2>Numero Maximo :</h2>
<input type="number" [formControl]="valueNumber" id="valueIn" class="number_in">

<div class="container">
  <h2 #target></h2>
  <div cdkDropList #rlist="cdkDropList" [cdkDropListData]="numberMayaList"
    [cdkDropListConnectedTo]="[doneMovieList]" class="r-list" (cdkDropListDropped)="onDrop($event)">
    <div class="number-list maya" *ngFor="let mayaList of numberMayaList" cdkDrag>{{mayaList["Representacion"]}}</div>
  </div>
</div>

<div class="container">
  <h2>Resultado</h2>
  <div cdkDropList #doneMovieList="cdkDropList" [cdkDropListData]="resultList" [cdkDropListConnectedTo]="[rlist]"
    class="r-list" (cdkDropListDropped)="onDropSuccess($event)">
    <div class="number-list maya " *ngFor="let numberResult of resultList" cdkDrag>{{ numberResult["Representacion"] }}
    </div>
  </div>
  <div   class="container" #result>
    <h2 #mensaje></h2>
  </div>
  <div *ngIf="button">

    <button value="Siguiente" (click)="siguiente()">siguiente </button>
  </div>

</div>