<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 class="card-header  text-center">Numero Maximo :</h2>
      <br>
      <input type="number" [formControl]="valueNumber" id="valueIn" class="number_in form-control">
    </div>
    <div class="col-2"></div>
    <br />
  </div>

  <div class="row">
    <!--div class="container"-->
    <div class="col-2"></div>
    <div class="col-6">
      <h2 #target>Encuentra el Numero</h2>
      <div cdkDropList #rlist="cdkDropList" [cdkDropListData]="numberMayaList" [cdkDropListConnectedTo]="[optionList]"
        class="r-list" (cdkDropListDropped)="onDrop($event)">
        <div class="number-list maya" *ngFor="let mayaList of numberMayaList" cdkDrag>{{mayaList["Representacion"]}}
        </div>
      </div>
      <!--/div-->
    </div>


    <div class="col-4">
      <h2>Resultado</h2>
      <div cdkDropList #optionList="cdkDropList" [cdkDropListData]="resultList" [cdkDropListConnectedTo]="[rlist]"
        class="r-list result" (cdkDropListDropped)="onDropSuccess($event)">
        <div class="number-list maya " *ngFor="let numberResult of resultList" cdkDrag>{{ numberResult["Representacion"]
          }}
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-2"></div>
      <div class="col-2" #result></div>
      <br><br>


      

    <div class="row">
      <div class="col-5"></div>
      <div class="col-4" *ngIf="button">
        <br>
        
      </div>
      <div class="col-3"></div>
    </div>  
      
    </div>
  </div>

<button type="button" [hidden]="true"  data-bs-toggle="modal"  id="modalCalc" data-bs-target="#exampleModal">
  
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <img src="/assets/mazorca.PNG" class="img" width="80" height="80" alt="Mazorcas">
        <button type="button" class="btn-close" [hidden]="true" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center ">
        Llevas una Racha de <strong> {{racha}} </strong> <div #result></div> Mazorcas
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button  class="btn btn-primary" value="Siguiente" (click)="siguiente()" data-bs-dismiss="modal">siguiente </button>
        
      </div>
    </div>
  </div>
</div>
</div>
