<div class="row">
    <div class="col-12">
        <h3>
            <img src="assets/img/info.svg" class="title-icon" />
            {{title}}
        </h3>
    </div>
    <div class="col-12 my-1">{{ text1 }}</div>
    <div class="col-12 my-1">{{ text2 }}</div>
    <div class="col-12 my-1">
        <ul>
            <li>
                <span class="font-weight-bold">Fácil:</span>&nbsp;<span
                    >8 parejas de tarjetas (4*4)</span
                >
            </li>
            <li>
                <span class="font-weight-bold">Medio:</span>&nbsp;<span
                    >18 parejas de tarjetas (6*6)</span
                >
            </li>
            <li>
                <span class="font-weight-bold">Difícil:</span>&nbsp;<span
                    >32 parejas de tarjetas (8*8)</span
                >
            </li>
        </ul>
    </div>
</div>
