<header>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="./assets/resources/logousac.png" alt="" />
            </div>
            <ul class="menu">
                <li><a routerLink="juegoEnlazar">Relaciona Conceptos</a></li>
                <li><a routerLink="memory">Memoria Haab</a></li>
                <li><a routerLink="adivina">Adivina el Nahual</a></li>
                <li><a routerLink="math/calc">Numeración Maya</a></li>
                <li><a routerLink="math/num">¿Cuál es el Número?</a></li>
            </ul>
        </div>
    </nav>
</header>
