
<div class="content">
    <div class="text-content">
      <div class="text">Hola,</div>
      <div class="name">Bienvenido a la Web de Aprendizaje</div>
      <div class="job">
        <div class="job">
           <div class="typing-text">
             <span class="one">Viviendo </span>
             <span class="two">el Tiempo Maya.</span>
           </div>
         </div>
      </div>
      <div class="buttons">
         
<a href="http://tiempomaya.com/" target="_blank" >
    <button>Conoce más</button></a>

        </div>
    </div>



  


  
