<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="./assets/nahual/{{nameNahual}}.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Significado</h4>
            <p class="card-text">Pajaro</p>
            <h5 class="card-title">Caracteristicas</h5>
            <p class="card-text">Es el símbolo de la suerte, la fortuna y los bienes materiales. También es símbolo de
                libertad y es el nawal de las aves. </p>
            <h4 class="card-title">Opciones:</h4>
            <div class="row">
                <div class="d-grid gap-2 col-6 ">

                    <button type="button" class="btn btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn btn-lg btn-block">Block level button</button>

                </div>
                <div class="d-grid gap-2 col-6 ">
                    <button type="button" class="btn  btn-lg btn-block">Block level button</button>

                    <button type="button" class="btn  btn-lg btn-block">Block level button</button>

                </div>
            </div>
            <br>
            <h4 class="card-title">Respuesta:</h4>
            <div class="alert alert-success" role="alert">
                Respuesta Correcta
              </div>
        </div>
    </div>

</div>