.card {
  
  border-color: #223d82;
  border-width: 0.5px;
  align-items: center;
}
.card-body{

  width: 90%;
  height: 100%;
}
.card-img-top {
  width: 20rem;
  pointer-events: none;
}

button {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #223d82 40%, #822f4e 100%);
}

button:hover {
  transform: scale(0.95);
}
