<div class="card-group">
    <div class="card">
        <img
            class="card-img-top"
            src="./assets/nahual/{{nahual.imagen}}.jpg"
            alt="Card image cap"
        />
        <div class="card-body">
            <h4 class="card-title">Significado</h4>
            <p class="card-text">{{ nahual.significado }}</p>
            <h5 class="card-title">Caracteristicas</h5>
            <p class="card-text">{{ nahual.caracteristicas }}</p>
            <h4 class="card-title">Opciones:</h4>
            <div class="row">
                <div class="d-grid gap-2 col-6">
                    <button type="button" class="btn btn-lg btn-block" (click)="verificar(respuestas[0])">
                        {{respuestas[0]}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block" (click)="verificar(respuestas[1])">
                        {{respuestas[1]}}
                    </button>
                </div>
                <div class="d-grid gap-2 col-6">
                    <button type="button" class="btn btn-lg btn-block" (click)="verificar(respuestas[2])">
                        {{respuestas[2]}}
                    </button>

                    <button type="button" class="btn btn-lg btn-block" (click)="verificar(respuestas[3])">
                        {{respuestas[3]}}
                    </button>
                </div>
            </div>
            <br />
            <div *ngIf="correcta" class="respuesta">
                <h4 class="card-title">Respuesta:</h4>
                <div class="alert alert-success" role="alert">
                    Respuesta Correcta
                </div>
              
                <h5 class="card-title">¿Sabias Qué?</h5>
                <p class="card-text">{{ nahual.descripcion }}</p>
                </div>
            <div *ngIf="!correcta && intento" class="respuesta">
                <h4 class="card-title">Respuesta:</h4>
                <div class="alert alert-danger" role="alert">
                    Respuesta Incorrecta
                </div>
                
            </div>
        </div>
    </div>
</div>
<br>
