@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  background-image: url("./assets/resources/screen10.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

  /*background-size: auto;*/
}
::selection{
  background: #a3f5ec;
}
header nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 80px;
  width: 200px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
    color: #302d37;
  }


.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
 .text-content .text{
  font-size: 27px;
  color: #000000;
}
 .text-content .name{
color: #000000;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
 .text-content .job{
 color: #c1c9eb;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.text-content .typing-text{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #223D82 dotted;
  animation: typing 5s steps(21);
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 21ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #223D82;
}
/*#17e4d3;
#1de2d1;*/
.text-content .job .two{
  color: #223D82;
}
.buttons{
  margin: 20px 0 0 50px;
}
.text-content .buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #223D82    10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
.content .girl img{
  position: absolute;
  height: 95%;
  bottom: 0;
  right: 80px;
  position: absolute;
}
 .media-icons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.media-icons a{
 margin-top: 8px;
 font-size: 30px;
 font-weight: 500;
 text-decoration: none;
 opacity: 0.8;
 color: #000000;
 transition: all 0.3s ease;
}
.media-icons a:hover{
 opacity: 1;
}
.footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 40px;
  }