body{
    height: 100vh;
    width: 100%;
    cursor:  url(./assets/chichen.png), auto;
    background-image: url("./assets/resources/screen10.jpg");
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
  
    /*background-size: auto;*/
  }
  h1 {
	font-size: 50px;
	text-align: center;
}
  .container {
    background-color: white;
    margin: auto;

 
}
.contenedorGeneral {

    margin: auto;
    height: 80%;
    width: 90%;
 
}
.centrado{
	display: flex;
    justify-content: center;
    align-items: center;  
}
/*
.buttons{
  margin: 20px 0 0 50px;
}*/
.buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #223D82    10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
