.card {

    background-color: rgba(245, 245, 245, 0.4);
}

.card-block {
    background-color: rgba(245, 245, 245, 0.603);
    font-size: medium;
}
.card-footer{
    background-color: rgba(255, 255, 255, 0);
}